.App {
  text-align: center;
  background-color: rgba(0, 191, 255, 0.363);
}

.App-header {
  background-color: #b0f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(39, 91, 233);
}
.App-link {
  color: #61dafb;
}
