body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 191, 255, 0.363);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-radius: 10%;
}
button {
  vertical-align: middle;
  font-size: xx-large;
  border-radius: 8%;
  margin-left: auto;
  margin-right: auto;
  color: darkslateblue;
  background-color: rgb(145, 236, 236);
  margin-top: 0.5vh;
}
.imageContainer {
  height: 20%;
  width: 15%;
  padding-left: 0.4vw;
  padding-right: 0.4vw;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  margin: 0;
}
